<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EngineIoClientDotNet" version="0.9.22" targetFramework="xamarinios10" />
  <package id="HockeySDK.Xamarin" version="4.1.2" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="xamarinios10" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="1.2.1" targetFramework="xamarinios10" />
  <package id="Rg.Plugins.Popup" version="1.1.0-pre2" targetFramework="xamarinios10" />
  <package id="SocketIoClientDotNet" version="0.9.13" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.2.1" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.0" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.0" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.1.0" targetFramework="xamarinios10" />
  <package id="Validation" version="2.2.8" targetFramework="xamarinios10" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.DeviceInfo" version="2.1.2" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="2.6.2" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.8.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Auth" version="1.3.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.4.4" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Analytics" version="3.6.0.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Core" version="3.4.6" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.InstanceID" version="1.0.8.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.RemoteConfig" version="1.3.1.3" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="xamarinios10" />
</packages>